.mail-preview {
    /* display: flex; */
    align-items: center;
    /* justify-content: space-between; */
    grid-template-columns: 2fr 3fr 1fr;

    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--gray2);
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin-inline-start: 1em;

    .checkbox-sub {
        gap: .5em;
    }

}

.description {
    
}

.read {
    background-color: var(--gray2);
}

.mail-preview:hover {
}

.mail-subject {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--gray3);
}

.mail-txt {
    color: #5f6368;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px;
}

.mail-date {
    text-align: right;
    color: #5f6368;
    font-size: 0.85em;
}