*,
*::after,
*::before {
    box-sizing: border-box;
}

.mail-header {
    padding-block: .8em;
    background-color: var(--bg1);

    .side-header {
        margin: 0;
        align-items: center;

        .logo-img {
            width: 30px;
        }

        .logo-title {
            display: inline;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-inline-start: .5em;
            margin-top: .1em;
            color: var(--gray3);
        }

        .menu {
            padding: 0;
            margin-inline-start: .5em;
            margin-inline-end: .8em;
        }
    }

    .search-line {
        .input-container {
            position: relative;

            .search-input {
                border: 0;
                background-color: var(--gray2);
                border-radius: 2rem;
                padding: 1em;
                width: 50vw;
                color: var(--gray3);
                padding-right: 35px;

                position: relative;
            }

            .sort {
                position: absolute;
                right: .9em;
                top: .8em;
            }

            /* .search-icon {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);

                color: var(--gray3);
                cursor: pointer;
            } */
        }

    }

    .settings {
        margin-inline-end: .5em;
    }
}