.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--gray2);
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin-inline-start: 1em;

}

.mail-preview:hover {
    background-color: #f5f7f7;
}

.mail-subject {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--gray3);
}

.mail-txt {
    color: #5f6368;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px;
}

.mail-date {
    text-align: right;
    color: #5f6368;
    font-size: 0.85em;
}