.mail-preview {
    align-items: center;
    grid-template-columns: 2fr 5fr 1fr;
    gap: .3em;

    background-color: white;
    padding: 0.5em;
    border-bottom: 1px solid var(--gray2);
    cursor: pointer;
    transition: background-color 0.4s ease;
    /* margin-inline-start: 1em; */

    .checkbox-sub {
        gap: .5em;
    }

}

.read {
    background-color: var(--gray1);
}

.from {
    font-size: .9rem;
}

.mail-subject {
    font-size: .8rem;
    font-weight: 400;
    color: var(--gray3);
}

.mail-txt {
    color: var(--gray2-dark);
    font-size: .8rem;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px;
}

.mail-date {
    text-align: right;
    color: var(--gray2-dark);
    font-size: 0.8rem;
}
