.mail-index {
    background-color: var(--bg1);
    /* background-color: black; */
    .add-mail {
        padding: 1.3em;
        border-radius: 2em;
        box-shadow: 1px 1px 4px 1px var(--gray2);
        width: max-content;
        font-size: .8rem;

        span {
            padding-inline-end: .6em;
        }
    }

    .main-page {
        grid-template-columns: 1fr 5fr;
        margin-block-start: 1em;

        .main-side {
            flex-direction: column;
        }
    }
}