*,
*::after,
*::before {
    box-sizing: border-box;
}

.mail-header {
    padding-block: .8em;
    background-color: var(--bg1);
    grid-template-columns: 1fr 3fr;

    .side-header {
        justify-self: start;
        margin: 0;
        align-items: center;

        .logo-img {
            margin-inline-start: 1em;
            width: 35px;
        }

        .logo-title {
            display: inline;
            font-size: 1.2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-inline-start: .5em;
            margin-top: .1em;
            color: var(--gray3);
        }

        .menu {
            padding: 0;
            margin-inline-start: .5em;
            margin-inline-end: .8em;
        }
    }

    .search-line {
        .input-container {
            position: relative;

            .search-input {
                border: 0;
                background-color: var(--gray2);
                border-radius: 2rem;
                padding: 1.2em;
                padding-inline-start: 3em;
                width: 50vw;
                color: var(--gray3);

                position: relative;
            }

            .search {
                position: absolute;
                left: .9em;
                top: .95em;
                cursor: pointer;
                z-index: 2;
            }

            .sort {
                position: absolute;
                right: .9em;
                top: .95em;
                cursor: pointer;
            }
        }

    }

    .settings {
        margin-inline-end: 1em;
    }
}