.mail-index {
    background-color: var(--bg1);
    height: calc(100vh - 64px);

    .btn-compose {
        padding: 1.3em;
        border-radius: 2em;
        box-shadow: 1px 1px 4px 1px var(--gray2);
        width: max-content;
        font-size: .9rem;
        margin-block-end: 1em;
        background-color: var(--bg1);

        span {
            padding-inline-end: .6em;
        }
    }

    .page {
        grid-template-columns: 1fr 10fr;
        /* padding-block-start: 1em; */
        height: 100%;

        .page-main {
            margin-inline: 1rem;

        }


        .page-side {
            margin-inline: 1rem;
            z-index: 1;
            flex-direction: column;
            height: 100%;
        }
    }
}