*,
*::after,
*::before {
    box-sizing: border-box;
}

.mail-side-nav {
    padding-inline-start: .8em;
    margin: 0;
    padding: 0;


    .section-inbox {
        height: auto;

        .left-side {
            gap: .5em;
            height: max-content;

            .icon-inbox {
                line-height: 1;
            }

            .inbox {
                margin: 0;
            }
        }

        .unread-count {
            font-size: .8rem;
            font-weight: 600;
        }
    }
}