*,
*::after,
*::before {
    box-sizing: border-box;
}

.mail-details {
    position: relative;    
    grid-template-columns: 1fr 10fr;
    
    .page-details {
        position: absolute;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
        margin-block: 0;
        padding-inline-start: 1em;
        border-radius: .2em;
        background-color: white;
        box-shadow: 1px 1px 8px 1px var(--gray1);
        width: calc(100% - 9%);

      

            .btn-back {
                padding-block: 1em;
                background-color: inherit;
                justify-self: left;
            }
        


        .body {
            align-self: start;

            .subject {
                align-self: center;

                font-weight: 400;
            }

            .to {
                align-self: start;
                font-size: .9rem;
            }

            .from {}

        }
    }
}

.load {
    position: relative;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 1.5rem;
    }
}