* {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

html.dark {
    color-scheme: dark;
}

body {
    margin: 0;
    transition: .5s;
    font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img,
embed,
video,
object {
    max-width: 100%
}

li {
    list-style: none;
    cursor: pointer;
}

ul {
    padding: 0;
}

.flash-msg {
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.5s;
    opacity: 1;
}

button {
    cursor: pointer;
    max-width: 100%;
    border: 0;
}

.debug * {
    outline: 1px solid gold
}