.note-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 238px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.nav-note-icons i {
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-note-icons i:hover {
  transform: scale(1.2);
  color: #000;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 5px;
  align-items: start; /* חשוב כדי שלא יתמוטטו אחד על השני */
}


