.app-header {
    position: fixed;
    width: 100%;
    
    .apps-nav {
        text-align: center;
        padding-block: .5em;
        justify-content: center;
    }
}

nav a {
    font-weight: 100;
    margin-inline: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
}