.app-header {
    display: flex;
    justify-content: space-between;
    
    height: 2em;
    padding: 1em;
    background: var(--bg1);

    .logo-img {
        width: auto;
    }

    .logo-title {
        display: inline;
    }
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}