.app-header {
    /* height: 3em; */
    padding-block: 1em;
    background: var(--bg1);

    .side-header {
        grid-auto-flow: column;
        align-items: center;

        .logo-img {
            max-width: 10%;
        }

        .logo-title {
            display: inline;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            margin-inline-start: .5em;
            margin-top: .2em;
            color: var(--gray3);
        }
       
        .menu {
            padding: 0;
            margin-inline-start: 1em;
            margin-inline-end: .8em;
        }
    }

}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}